@model PostInfoViewModel

<div>
    <img src='@Model.ImageUrl'/>
</div>
<div>
    Create first page project WaperPark: <input type="checkbox" checked="checked" disabled="disabled" />
</div>
<div>
    @Model.Desc
</div>